apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "trackableappname" . }}-cron
  labels:
    app: {{ template "appname" . }}-cron
    track: "{{ .Values.application.track }}"
    tier: "{{ .Values.application.tier }}"
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: cron
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ template "appname" . }}-cron
      track: "{{ .Values.application.track }}"
      tier: "{{ .Values.application.tier }}"
      release: {{ .Release.Name }}
      component: cron
  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: {{ template "appname" . }}-cron
        track: "{{ .Values.application.track }}"
        tier: "{{ .Values.application.tier }}"
        release: {{ .Release.Name }}
        component: cron
    spec:
      imagePullSecrets:
{{ toYaml .Values.image.secrets | indent 10 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app21321
                      operator: In
                      values:
                        - {{ template "appname" . }}-cron
                topologyKey: kubernetes.io/hostname
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command: ["/bin/rpc-gateway", "cron-gateway"]
        ports:
          - name: metrics
            containerPort: {{.Values.prometheus.metricsPort}}
        securityContext:
          capabilities:
            add:
              - SYS_PTRACE
        env:
        - name: AP_ETCD_SERVER
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.application.env_secret_key }}"
              key: "etcd_server"
        - name: AP_LOG_REMOTE_ADDRESS
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.application.env_secret_key }}"
              key: "log_hub_address"
        resources:
{{ toYaml .Values.resources | indent 12 }}
